body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-bottom: 20px;
}
.btn-link {
    font-size: 1.2rem; /* Adjust size as needed */
    border: none;
    background: none;
    cursor: pointer;
}

.btn-link:hover {
    color: darkred; /* Change color on hover for better visibility */
}
